.board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
/* .board > div > span {
    visibility: hidden;
} */

#c0r2 { grid-area: 1 / 1 / 2 / 2; }
#c0r1 { grid-area: 2 / 1 / 3 / 2; }
#c0r0 { grid-area: 3 / 1 / 4 / 2; }
#c1r2 { grid-area: 1 / 2 / 2 / 3; }
#c1r1 { grid-area: 2 / 2 / 3 / 3; }
#c1r0 { grid-area: 3 / 2 / 4 / 3; }
#c2r2 { grid-area: 1 / 3 / 2 / 4; }
#c2r1 { grid-area: 2 / 3 / 3 / 4; }
#c2r0 { grid-area: 3 / 3 / 4 / 4; }

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    color: rgb(34, 8, 77);
    font-size: 6vmin;
    letter-spacing: 2vmin;
}

h2 {
    font-size: 5vmin;
    color: rgb(61, 32, 5)
}